html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    /* background-image: url("https://bing.img.run/uhd.php"); */
    background-color: rgb(226, 242, 255);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
    z-index: -1; 
}
.background-div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.topbar {
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: all 0.3s ease;
}
.menu-btn {
    background-color: #525252;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin: 0 3px;
    border-radius: 10000px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}
.menu-btn:hover {
    background-color: #fff;
    color: #525252;
}
li{
    unicode-bidi: embed;
    margin: 0;
    padding: 0;
    list-style: none;
}
.logo {
    display: flex;
    align-items: center;
    margin: 0 15px;
}
a {
    text-decoration: none;
}
.menu{
    margin: 0 15px;
}
.left-icon{
    /* width: 0px;
    height: 0px;
     */

    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 1000;
    transition: all 0.3s ease;
    margin-right: auto;
    margin-left: auto;
}
.left-ul{
    left: 0px;
    width: 80px;
    bottom: 0px;
    position: fixed;
    z-index: 1000;
    transition: all 0.3s ease;
    display: inline-block; /* 或者float: left; */
    margin-right: auto;
    margin-left: auto;
}
.left-li{
    align-items: center;
    text-align: center;
    width: 80px;
    height: 80px;
    
    margin-right: auto;
    margin-left: auto;
}
h1{
    color: #000000;
}
.goto-button-div{
    background-color: rgb(52, 174, 255);
    width: 190px;
    height: 60px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px #000000;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
.goto-button-div:hover{
    background-color: #6fd1ff;
    width: 200px;
    height: 70px;
    margin-top: -5px;
    box-shadow: 0 0 15px #0053a1;
}
.start-div{
    margin-top:28vh;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    text-align: center;
}
.imagebox-div{
    margin-top:28vh;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    text-align: center;
}
.imagebox-img{
    width: 800px;
    margin-top: px;
}
.radio-div-left{
    border-radius: 11px;
    padding:10px 10px 10px 10px;
    width: 810px;
    background-color: white;
}
.radio-div-right{
    border-radius: 11px;
    padding:10px 10px 10px 10px;
    width: 810px;
    background-color: white;
    margin-right: 0px;
    margin-left: auto;
}